extends layout

block content
  .page-header
    h1
      small Pair Columbus
      br
      a(href='/') Challenge Progress
  h2= user
  if results
    ul.results
      for result in results
        li(class=colorClass(result.complete))
          span.glyphicon.icon-column(class=iconClass(result.complete))
          a(href='https://github.com/paircolumbus/' + result.challenge)= result.challenge
  footer
    hr
    p © 2015 Nicolas McCurdy
