extends layout

block content
  .page-header
    h1
      small Pair Columbus
      br
      a(href='/') Challenge Progress
  form(action='/', role='form')
    span#form-help.help-block Choose a user to check progress.
    .form-group
      .input-group
        input.form-control(name='user', placeholder='user', aria-describedby='form-help', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Check')
  if results
    h2= user
    ul.results
      for category in results
        h3= category.category
        for result in category.challenges
          li(class='text-' + (result.complete ? 'success' : 'danger'))
            span.glyphicon.icon-column(class='glyphicon-' + (result.complete ? 'ok' : 'remove'))
            a(href='https://github.com/paircolumbus/' + result.challenge)= result.challenge
  footer
    hr
    p © 2015 Nicolas McCurdy
